.back-icon img {
  width: 20.15px;
  height: 19.5px;
  margin-left: 16.25px;
  padding-top: 23.4px;
}

.vote-container {
  background-color: #9DD278;
  height: 624px;
  width: 351px;
}

.vote-content h3 {
  margin: 16.25px 16.25px 16.25px 16.25px;
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
}

.vote-content h2 {
  margin: 16.25px 16.25px 16.25px 16.25px;
  color: #fff;
}

.vote-content h4 {
  margin: 16.25px 16.25px 16.25px 16.25px;
  color: #fff;
  text-align: center;

}


.vote-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.vote-options a {
  text-decoration: none;
}

.vote-option {
  width: 150.8px;
  height: 180px;
  border-radius: 5px;
  background-color: #fff;
  margin: 16.25px 16.25px 16.25px 16.25px;
}

.vote-option:nth-child(odd) {
  margin-right: 0px;
  margin-left: 16.25px;
  margin-bottom: 0px;
}

.vote-option:nth-child(2) {
  margin-top: 16.25px;
}

.vote-option:first-child {
  margin-top: 16.25px;
}

.vote-option:hover {
  cursor: pointer;
}

.vote-option h3 {
  color: #808080;
}

.vote-img  {
  width: 113.75px;
  height: 107.9px;
  margin-top: 16.25px;
}
