.game-container {
  background-color: #F1AB9F;
  height: 624px;
}

.game-container h2  {
  color: #fff;
  margin: 16.25px 16.25px 16.25px 16.25px;
  line-height: 2;
  text-align: center;
}

.game {
  width: 318.5px;
  height: 455px;
  display: block;
  background-color: #fff;
  border-radius: 5px;
  margin: 16.25px 16.25px 16.25px 16.25px;
  overflow: hidden;
}

.game a {
  position: relative;
  top: -20px;
}

.dark-bg {
  background-color: #EB8675;
  opacity: 1;
}

.green-bg {
  background-color: #9DD278;
}

/*spil-pakke.html*/

.gift-selected {
  text-align: center;
  max-width: 75%;
  margin: 0px auto;
}

.gift-selected h2 {
  margin-bottom: 32.4px;
}

#opengift {
  width: 160px;
  padding-top: 190px;
  text-align: center;
  margin-left: -25px;
  animation: shake 1s  both;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

/*Pakke shake*/

@keyframes shake {
  10% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
      transform: translate3d(0, 0, 0);

    }
}

/*Gift game*/

.game-top {
  z-index: ;
}

.gift img {
  padding: 10px;
  width: 60px;
  z-index: -2;
}

.game a {
	display: inline-block;
	animation: game 7s linear 2s 20;
  margin-top: -200px;
}

@-webkit-keyframes game {
	0% {
		-webkit-transform: translate3d(0,0,0);
	}
	100% {
		-webkit-transform: translate3d(10px, 600px, 10px);
	};
}

.game a:nth-child(3n) {
	width: 18px; height: 4px;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.game a:nth-child(3n+1) {
	width: 23px;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.game a:nth-child(3n+2) {
	width: 40px; height: 8px;
	-webkit-animation-duration: 14s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}

.game a:nth-child(7n) {

  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+1) {

  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.game a:nth-child(7n+2) {

  -webkit-animation-delay: 1.8s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+3) {

  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+4) {

  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+5) {

  -webkit-animation-delay: 4.5s;
  -webkit-animation-timing-function:ease-out;
}
.game a:nth-child(7n+6) {

  -webkit-animation-delay: 6s;
  -webkit-animation-timing-function:ease-in;
}

/*Gift pages*/

.gift-container {
  text-align: center;
  max-width: 75%;
  margin: 0px auto;
  padding-top: 90px;
}

.product-spotlight-circle {
  background-color: #fff;
  height: 250px;
  width: 250px;
  max-height: 210px;
  max-width: 210px;
  border-radius: 105px;
  margin: 10px auto;
  animation: pulse 1s;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  overflow: hidden;
}

.product-spotlight-circle img {
  margin-top: 30px;
  height: 65%;
  width: 65%;
}

/* animation virker ikke */

@keyframes pulse {
  0% {
    transform: max-height: 250px;
    transform: max-width: 250px;
    transform: border-radius: 125px;
  }
  100% {
    transform: max-height: 270px;
    transform: max-width: 270px;
    transform: border-radius: 135px;
  }
}
