.game-container {
  background-color: #F1AB9F;
  height: 624px;
}

.game-container h2  {
  color: #fff;
  margin: 16.25px 16.25px 16.25px 16.25px;
  line-height: 2;
}

.game {
  width: 318.5px;
  height: 455px;
  display: block;
  background-color: #fff;
  border-radius: 5px;
  margin: 16.25px 16.25px 16.25px 16.25px;
}

/*spil-pakke.html*/

.gift-selected {
  text-align: center;
  padding-top: 117px;
}
.gift-selected h2 {
  margin-bottom: 32.4px;
}

#opengift {
  width: 180px;
  text-align: center;
  margin-left: -25px;
  animation: shake 4s cubic-bezier(.12,.07,.19,.97) both;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

/*pakke hopper - ikke færdig*/

@keyframes shake {
  5%, 50% {
    transform: translate3d(0, -1px, 0);
  }

  10%, 40% {
    transform: translate3d(0, 2px, 0);
  }

  20%, 30%, 25% {
    transform: translate3d(0, -4px, 0);
  }

  45%, 55% {
    transform: translate3d(0, 4px, 0);
  }
  100% {
      transform: translate3d(0, 0, 0);

    }
}


.dark-bg {
  background-color: #EB8675;
  opacity: 1;
}






/*Gift game - mangler z-index, så de holder sig inden for rammen*/

.game-top {
  z-index: ;
}

.gift img {
  padding: 10px;
  width: 60px;
  z-index: -2;
}

.game a {
	display: inline-block;
	animation: game 7s linear 2s 20;
  margin-top: -200px;
}

@-webkit-keyframes game {
	0% {
		-webkit-transform: translate3d(0,0,0);
	}
	100% {
		-webkit-transform: translate3d(10px, 600px, 10px);
	};
}

.game a:nth-child(3n) {
	width: 18px; height: 4px;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.game a:nth-child(3n+1) {
	width: 23px;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.game a:nth-child(3n+2) {
	width: 40px; height: 8px;
	-webkit-animation-duration: 14s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}

/* delays */
.game a:nth-child(7n) {

  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+1) {

  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.game a:nth-child(7n+2) {

  -webkit-animation-delay: 1.8s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+3) {

  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+4) {

  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}
.game a:nth-child(7n+5) {

  -webkit-animation-delay: 4.5s;
  -webkit-animation-timing-function:ease-out;
}
.game a:nth-child(7n+6) {

  -webkit-animation-delay: 6s;
  -webkit-animation-timing-function:ease-in;
}
