/*Note: Reducer mockup med 35% = 65% af de oprindelige mål*/

/*Farver
Primær #EB8675
Grøn #9DD278
Grå #808080
blå #95D3D1
*/

/*Font*/
h1 {
  font-family: Oswald;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .20em;
  text-transform: uppercase;
}

h2 {
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .20em;
  text-transform: uppercase;
  color: #808080;
}

h3 {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .20em;
  text-transform: uppercase;
  color: #808080;
}

h4 {
  font-family: Oswald;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: .20em;
  text-transform: uppercase;
}

p {
  font-family: arial;
  color: #808080;
  font-size: 12px;
}

/*Phone*/
.phone {
  background-image: url("../media/phone.png");
  height: 698px;
  width: 397.39px;
  background-size: cover;
  position: relative;
  margin: 30px auto;
}

/*App container*/
.app-container {
position: absolute;
overflow: hidden auto;
 display: block;
 top: 37px;
 left: 24px;
 height: 624px;
 width: 351px;
}

.app-container::-webkit-scrollbar {width: 0!important}

/*App*/
.app {
width: 351px;
height: 100%;
}

/*Nav*/
.nav {
  width: 351px;
  height: 65px;
  background-color: #FFF;
  display: block;
  box-shadow: 0px 10px 10px -10px rgba(227,227,227,1);
  position: absolute;
}

.burger-icon img {
  width: 21.45px;
  height: 17.55px;
  margin-left: 16.25px;
  padding-top: 23.4px;
}

.nav-title {
  text-align: center;
  margin-top: -36px;
}

.kurv-icon img {
  width: 19.5px;
  height: 19.5px;
  float: right;
  margin-top: -36px;
  margin-right: 16.25px;
}

/*Menu.html - burger*/

.menu {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  height: 624px;
}

.menu a {
  text-decoration: none;
}

.menu-logo {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  display: inline-block;
  width: 145.6px;
  height: 49.4px;
}

.no-shadow .kurv-icon img{
  margin-top: 23px;
}

.no-shadow {
  box-shadow: none;
}

.menu-items {
  margin-top: 32.5px;

}

.menu-items h3 {
  color: #000;
  margin-bottom: 32.5px;
}

/*App content - index*/
.app-content {
  background-color: #95D3D1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 65px;
}

.app-content a {
  text-decoration: none;
}

/*Nyheder / Forside*/
.img-title img {
  max-height: 70px;
  margin-top: 16.25px;
}

.img-title {
  margin-top: 16.25px;
  margin-bottom: 16.25px;
    display: block;
}

.forside-element {
  width: 150.8px;
  height: 130px;
  background-color: #fff;
  margin-top: 8.125px;
  margin-bottom: 8.125px;
  box-shadow: 0px 4px 10px 0px rgba(227,227,227,1);
  text-align: center;
}

.forside-element:nth-child(odd) {
  margin-right: 0px;
  margin-left: 16.25px;
  margin-bottom: 0px;
}

.forside-element:nth-child(2) {
  margin-top: 16.25px;
}

.forside-element:first-child {
  margin-top: 16.25px;
}

.forside-element:hover {
  cursor: pointer;
}

.img-title h3 {
  display: block;
  margin: 0px;
  margin-bottom: 16.25px;
}

/*Content under nyheder-elements - blogindlæg / kampagner / tilbud*/
.nyheder-title {
  margin: 16.25px 16.25px 16.25px 16.25px;
}

.nyhed {
  height: 280px;
  width: 318.5px;
  margin-bottom: 16.25px;
  box-shadow: 0px 4px 10px 0px rgba(227,227,227,1);
}

.nyhed h3 {
  margin: 16.25px 16.25px 16.25px 16.25px;
}

.nyhed p {
  margin: 16.25px 16.25px 16.25px 16.25px;
}

.blog-img {
  height: 162.5px;
  width: 318.5px;
}

/* Afstemning */
.white-text {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
}
